@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Anton|Chewy|Shrikhand');
*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(179, 4, 34, 0.86);
  color:black;
}

td {
  border: 2px solid black;
  padding: 4%;
}

table {
  width: 80%;
  /* margin-top: 5%; */
  /* margin: 10%; */
  margin: 5%;
  /* max-width: 50%; */
  background-color: transparent;
}

h2 {
  font-weight: bolder;
  font-size: 30px;
}

tr{
  background-color: rgba(247, 112, 136, 0.53);
}